@model IEnumerable<WebApp.Models.EmpresaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Empresas</h2>

<p>
    @Html.ActionLink("Criar Nova Empresa", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.nome)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.uf)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.cnpj)
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.id }, new { onclick = "return confirm('Deseja realmente excluir a empresa ?');" })
                </td>
            </tr>

        }
    </tbody>

    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>

    </table>
